<ng-http-loader></ng-http-loader>


<div *ngIf="totalCount>0;else elseBlock">
    <div class="row top">
        <div class="col-2">
            <h1>Shopping Cart</h1>
            
            <ul *ngFor="let item of finalArray">
                <li>
                    <div class="row">
                        <div>
                            <img src={{item.image}} class="small">
                        </div>

                        <div class="min-30">
                            <a [routerLink]="['/']"><b style="color: blue;">{{item.name}}</b></a>
                        </div>

                        <div>
                            <select [(ngModel)]="selected_value">
                                <!-- <option *ngFor="let x of dropdown_values">
                                    {{x}}
                                </option> -->
                            </select>                         
                        </div>

                        <div>
                            $ {{item.price}}
                        </div>
                        <div>
                            <button (click)="removeItem(item._id)">Delete</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-1">
            <div class="card card-body">
                <ul>
                    <li>
                        <h2>
                            Subtotal {{qty}} items
                        </h2>
                        <button class="primary block">Proceed to Checkout</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<ng-template #elseBlock>
    Cart is Empty <a [routerLink]="['/']"><b style="color: blue;">Start the Shopping</b></a>
</ng-template>














<!-- <div *ngIf="totalCount>0">
    <div class="row top">
        <div class="col-2">
            <ul *ngFor="let item of finalArray">
                <li class="row">
                    
                    <div>
                        <img src={{item.image}} alt={{item.name}} class="small">
                    </div>

                    <div class="min-30">
                        {{item.name}}
                    </div>
                
                </li>
            </ul>
        </div>
    </div>
</div> -->